{% extends '_account_base.html' %}

 {% block title %}
    管理后台 | 绑定邮箱
 {% endblock %}


 {% block content-title %}
       <h2>本科生毕业设计管理系统 </h2>
 {% endblock %}

{% block content %}


      <div class="login-box-body">
        <p class="login-box-msg">绑定邮箱</p>
        <form action="" method="post">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="邮箱" id='email'>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat">确认</button>
            </div>
          </div>
        </form>
      </div>

{% endblock %}



